body{
    background-color: black;
    color: white;

}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    isolation: isolate;
    
    display: block;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    min-height: 100dvh
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.container .background div {
    position: absolute;
    border-radius: 3rem;
    animation: gradient 4s infinite;
}

@keyframes gradient {
    0% { transform: scale(1) translate(0); }
    50% { transform: scale(1.3) translate(250px); }
    100% { transform: scale(1) translate(0); }
}

.container .background div:nth-child(1) {
    height: 70%;
    width: 80%;
    background-color: rgb(93, 0, 0);
}

.container .background div:nth-child(2) {
    height: 60%;
    width: 50%;
    background-color: rgb(31, 4, 15);
    top: -12%;
    right: -12%;
    animation-delay: 2s;
}

.container .background div:nth-child(3) {
    height: 50%;
    width: 75%;
    background-color: rgb(30, 0, 0);
    bottom: -10%;
    left: -5%;
    animation-delay: 1s;
}

.container .background div:nth-child(4) {
    height: 65%;
    width: 60%;
    background-color: rgb(182, 73, 0);
    bottom: -15%;
    right: -20%;
    animation-delay: 3s;
}

.container .background div:nth-child(5) {
    height: 60%;
    width: 65%;
    background-color: rgb(24, 0, 0);
    bottom: 0%;
    right: -50%;
    animation-delay: 1s;
}

.container .background::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(200px);
}

.container .image {
    margin-left: 20px;
    margin-top: 50px;
    position: fixed;
}

iframe{
    width: 500px;
    border-radius: 12px;
}

.container .content {
    margin-right: 80px;
    margin-left: 10px;
    padding-left: 450px;
    padding: 20px;
    position: relative; 
    text-align: right;
    z-index: 2;
}

.lyrics{
    padding: 10px 10px;
}

h1{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 700;
}

h2{
    font-family: sans-serif;
    font-size: 30;
    font-style: italic;
    color: rgb(214, 39, 39);
}

h4{
    padding: 0px;
    font-family: "Sirivennela", sans-serif;;
    font-size: 25px;
}

p{
    font-family: "Heebo", sans-serif;
    font-size: 18px;
}