html{
    font-family: "Crimson Text", serif;
    font-size: 24px;
    margin: 3rem 5rem;
}

h2{
    color: rgb(11, 103, 3);
    margin-bottom: 0;
}

h3{
    font-size: 20px;
    font-weight: normal;
    color: rgb(93, 141, 49);
    margin-bottom: 0;
}

p{
    margin-top: 0;
}

.styledFont{
    font-family: "Crimson Text", serif;
}

.styledFontNormal{
    font-weight: normal;
}

.styledFontBold{
    font-weight: bold;
}

.styledFontItalic{
    font-style: italic;
}

.styledFontWide{
    letter-spacing: 0.3em;
}

.styledFontNarrow{
    letter-spacing: -0.06em;
}

.styledFontNone{
    text-decoration: none;
}

.styledFontUnderline{
    text-decoration: underline;
}

.styledFontLineThrough{
    text-decoration: line-through;
}

.styledFontOverline{
    text-decoration: overline;
}

.styledFontUppercase{
    text-transform: uppercase;
}

.styledFontLowercase{
    text-transform: lowercase;
}

.styledFontCapitalize{
    text-transform: capitalize;
}